<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>設定</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title style="text-align: center;">
      サイボウズ基本認証
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form class="ion-padding" (submit)="save()">
      <ion-item lines="full" class="ion-padding-bottom">
        <ion-label position="floating">ID</ion-label>
        <ion-input type="text" [(ngModel)]="cybozuId" name="cybozuId"></ion-input>
      </ion-item>
      <ion-item lines="full" class="ion-padding-bottom">
        <ion-label position="floating">パスワード</ion-label>
        <ion-input type="password" [(ngModel)]="cybozuPassword" name="cybozuPassword"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block">保存</ion-button>
    </form>
  </ion-card-content>
</ion-card>
</ion-content>
